<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <% if(type === "user"){ %>
    <h2>Welcome <%= user.name %></h2>
    <h3>Available Workers</h3>
    <ul>
      <% workers.forEach(worker => { %>
        <li>
          <img src="<%= worker.img %>" width="50">
          <b><%= worker.name %></b> - <%= worker.category %>
          <form action="/sendRequest" method="POST" style="display:inline;">
            <input type="hidden" name="userId" value="<%= user.id %>">
            <input type="hidden" name="workerId" value="<%= worker.id %>">
            <button type="submit">Send Request</button>
          </form>
          <!-- Chat link with type=user -->
          <a href="/chat/<%= user.id %>/<%= worker.id %>/user">Open Chat</a>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <h2>Welcome <%= worker.name %></h2>
    <h3>Your Requests</h3>
    <ul>
      <% requests.forEach(req => { %>
        <li>
          Request from User <%= req.userId %>
          <!-- Chat link with type=worker -->
          <a href="/chat/<%= req.userId %>/<%= worker.id %>/worker">Open Chat</a>
        </li>
      <% }) %>
    </ul>
  <% } %>
</body>
</html>
