<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= user.name %> Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="dashboard">
        <h1>Welcome, <%= user.name %> 🎉</h1>
        <p><b>Mobile:</b> <%= user.mobile %></p>
        <p><b>Age:</b> <%= user.age %></p>
        <p><b>Gender:</b> <%= user.gender %></p>
        <p><b>Occupation:</b> <%= user.occupation %></p>
        <p><b>Address:</b> <%= user.address %></p>

        <a href="/">⬅ Back to Home</a>
    </div>
</body>
</html>
